<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/prove01.css" />
  </head>
  <body class="bodyMain">
    <h1> Welcome to my First Web Backend Dev. II Assignment! </h1>
    <hr>
    <form ation="/prove01/input" method="POST">
      <div class=".centerInput">
        <input type="text" name="userInput">
        <button type="submit"> Send Input </button>
      </div>
    </form>
  </body>
</html>
