<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/prove01.css" />
  </head>
  <body class="bodyMain">
    <h1> Welcome to my First Web Backend Dev. II Assignment! </h1>
    <hr>
    <div class="centerInput">
    <h4>What you typed: <%= userInput %></h4>
  </body>
</html>
